.App {
  display: flex;
}

.menu {
  min-height: 100vh;
  flex-basis: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

main {
  flex: 1;
  background-color: rgb(229, 229, 232);
  padding: 15px;
}