* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.75;
}

body {
  margin: 0;
  background-color: #fff !important;
  font-size: 16px !important;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
